:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h3 {
  font-size: 1.1em;
  line-height: 1.1;
  color: 	#808080
}

select {
  font-family: inherit;
  cursor: pointer;
  height: 50px;
}

label {
  margin-top: 10px;
}

button:hover {
  border-color: white;
}
button:focus,
button:focus-visible {
  outline: none;
}

